.oculto{
    display: none;
}

img{
    max-width: 100%;
    max-height: 100%; 
    border-radius: 3%;
}

.row{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}