<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="main">

        <h1 class="title">El Misterio del Bosque Encantado</h1>        

        <div class="text">
            <p>Una mañana, mientras revisas el buzón de tu casa, encuentras una carta sin remitente. La abres y lees: <br><br>

                <strong> 
                    
                "Querido aventurero, si deseas descubrir un gran secreto y obtener una recompensa inimaginable, dirígete al Bosque Encantado al caer la noche. No vayas solo y lleva contigo esta carta.
                
                Buena suerte." 

                </strong>
                
                <br><br>
                
                Sientes una mezcla de curiosidad y temor. Decides aceptar el desafío y preparas una mochila con lo necesario para una aventura nocturna.</p>
        </div>

        <div class="image">
            <img src="../img/1.jpg">
        </div>

        <h2 class="title" id="decision">Decisión:</h2>

        <ul class="options">
            <li><a href="./1.html">Ir solo</a></li>
            <li><a href="./2.html">Llamar a tu mejor amigo para que te acompañe</a></li>
        </ul>
        
    </section>
</body>
</html>