<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="main">

        <h1 class="title">El Misterio del Bosque Encantado</h1>        

        <div class="text">
            <p>
                Te acercas con cautela a la figura encapuchada. Cuando estás a unos pasos, la figura se da vuelta revelando un rostro amigable. Es un guardabosques que te explica que está allí para proteger a los aventureros curiosos como tú. Te guía a una cueva secreta donde encuentras un cofre lleno de antiguos artefactos mágicos. Decides llevarte un amuleto de protección y regresar a casa, sabiendo que el Bosque Encantado guarda muchos secretos.
            </p>
        </div>

        <div class="image">
            <img src="../img/6.jpg">
        </div>

        <h2 class="title" id="decision">Final #1</h2>

        <div class="final">
            <a href="./0.html">Volver a jugar</a>
        </div>
        
    </section>
</body>
</html>