<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="main">

        <h1 class="title">El Misterio del Bosque Encantado</h1>        

        <div class="text">
            <p>
                Te escondes detrás de unos arbustos y observas a la figura encapuchada. De repente, la figura empieza a moverse hacia ti. Antes de que puedas reaccionar, una luz brillante te envuelve y te encuentras transportado a un claro iluminado por la luna. Allí, encuentras un círculo de piedras antiguas que emiten una energía mágica. Has descubierto el corazón del Bosque Encantado, un lugar de gran poder que solo unos pocos pueden encontrar.
            </p>
        </div>

        <div class="image">
            <img src="../img/7.jpg">
        </div>

        <h2 class="title" id="decision">Final #2</h2>

        <div class="final">
            <a href="./0.html">Volver a jugar</a>
        </div>
        
    </section>
</body>
</html>