<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="main">

        <h1 class="title">El Misterio del Bosque Encantado</h1>        

        <div class="text">
            <p>
                Decides salir del sendero principal y te adentras en un camino más estrecho y oscuro. Los árboles parecen más altos y el ambiente más denso. De repente, escuchas un susurro que proviene de un árbol cercano.
            </p>
        </div>

        <div class="image">
            <img src="../img/5.jpg">
        </div>

        <h2 class="title" id="decision">Decisión:</h2>

        <ul class="options">
            <li><a href="./1.2.1.html">Acercarte al árbol para escuchar mejor</a></li>
            <li><a href="./1.2.2.html">Ignorar el susurro y seguir caminando</a></li>
        </ul>
        
    </section>
</body>
</html>