<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="main">

        <h1 class="title">El Misterio del Bosque Encantado</h1>        

        <div class="text">
            <p>
                Te acercas al árbol y escuchas un susurro que parece formar palabras. El árbol te revela que es un espíritu protector del bosque y que has sido elegido para ayudar a mantener el equilibrio entre la naturaleza y los humanos. Como recompensa, el espíritu te otorga la habilidad de comunicarte con los animales del bosque. Regresas a casa sabiendo que tienes un nuevo propósito y una conexión especial con la naturaleza.
            </p>
        </div>

        <div class="image">
            <img src="../img/8.jpg" width="600px">
        </div>

        <h2 class="title" id="decision">Final #3</h2>

        <div class="final">
            <a href="./0.html">Volver a jugar</a>
        </div>
        
    </section>
</body>
</html>