<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="main">

        <h1 class="title">El Misterio del Bosque Encantado</h1>        

        <div class="text">
            <p>
                Decides ignorar el susurro y seguir caminando. Pronto llegas a un claro donde encuentras una antigua cabaña. Dentro, descubres un viejo diario que cuenta la historia de un explorador que buscaba un tesoro oculto. Siguiendo las pistas del diario, encuentras una caja enterrada con monedas de oro y joyas. El tesoro te permite realizar tus sueños y vivir una vida llena de aventuras.
            </p>
        </div>

        <div class="image">
            <img src="../img/9.jpg">
        </div>

        <h2 class="title" id="decision">Final #4</h2>

        <div class="final">
            <a href="./0.html">Volver a jugar</a>
        </div>
        
    </section>
</body>
</html>