<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="main">

        <h1 class="title">El Misterio del Bosque Encantado</h1>        

        <div class="text">
            <p>
                Te armas de valor y te diriges al Bosque Encantado al anochecer. El aire está fresco y la luna ilumina tenuemente el sendero. Mientras avanzas, escuchas ruidos extraños entre los árboles.
            </p>
        </div>

        <div class="image">
            <img src="../img/2.jpg">
        </div>

        <h2 class="title" id="decision">Decisión:</h2>

        <ul class="options">
            <li><a href="./1.1.html">Seguir el sendero principal</a></li>
            <li><a href="./1.2.html">Explorar un camino lateral que parece menos transitado</a></li>
        </ul>
        
    </section>
</body>
</html>