<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="main">

        <h1 class="title">El Misterio del Bosque Encantado</h1>        

        <div class="text">
            <p>
                Decidís ignorar al cuervo y seguir caminando. A medida que avanzáis, el sendero se vuelve más luminoso y llegáis a un hermoso lago rodeado de flores brillantes. En el centro del lago, veis una isla pequeña con un árbol dorado. Remáis hasta la isla usando un bote que encontráis cerca y descubris que el árbol concede deseos. Pedís un deseo juntos y regresáis a casa, felices y agradecidos por la experiencia mágica.
            </p>
        </div>

        <div class="image">
            <img src="../img/11.jpg" width="600px">
        </div>

        <h2 class="title" id="decision">Final #6</h2>

        <div class="final">
            <a href="./0.html">Volver a jugar</a>
        </div>
        
    </section>
</body>
</html>