<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="main">

        <h1 class="title">El Misterio del Bosque Encantado</h1>        

        <div class="text">
            <p>
                Tú y Valentin siguen el sendero principal. A medida que avanzan, sienten que alguien los observa. De repente, un cuervo se posa en una rama cercana y parece observándolos fijamente.
            </p>
        </div>

        <div class="image">
            <img src="../img/13.jpg" width="600px">
        </div>

        <h2 class="title" id="decision">Decisión:</h2>

        <ul class="options">
            <li><a href="./2.1.1.html">Acercarse al cuervo</a></li>
            <li><a href="./2.1.2.html">Ignorar al cuervo y seguir caminando</a></li>
        </ul>
        
    </section>
</body>
</html>