<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="main">

        <h1 class="title">El Misterio del Bosque Encantado</h1>        

        <div class="text">
            <p>
                Decidís dejar la brújula y seguir caminando. El camino os lleva a una colina desde donde veis todo el Bosque Encantado. Al llegar a la cima, encontráis un antiguo altar con inscripciones que cuentan la historia del bosque. Al leerlas, sentís una profunda conexión con la historia y la magia del lugar. Regresáis a casa con un nuevo entendimiento y aprecio por la naturaleza y sus misterios.
            </p>
        </div>

        <div class="image">
            <img src="../img/15.jpg">
        </div>

        <h2 class="title" id="decision">Final #8</h2>

        <div class="final">
            <a href="./0.html">Volver a jugar</a>
        </div>
        
    </section>
</body>
</html>