<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafío</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="main">

        <h1 class="title">El Misterio del Bosque Encantado</h1>        

        <div class="text">
            <p>
                Llamas a tu mejor amigo, Valentin, y le cuentas sobre la carta. Él acepta acompañarte sin dudarlo. Juntos se dirigen al Bosque Encantado, llevando linternas y provisiones.
            </p>
        </div>

        <div class="image">
            <img src="../img/3.jpg">
        </div>

        <h2 class="title" id="decision">Decisión:</h2>

        <ul class="options">
            <li><a href="./2.1.html">Seguir el sendero principal</a></li>
            <li><a href="./2.2.html">Explorar un camino lateral que parece menos transitado</a></li>
        </ul>
        
    </section>
</body>
</html>